img {
    border-radius: 50%;
    width: 170px;
    height: 150px;
  }
  .header {
    height: 120px;
    display: flex;
    background: #2525;
    justify-content: center;
    align-items: center;
  }
  .header-menu {
    list-style: none;
    display: flex;
  }
  .header-menu li a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }
  .header-menu li a:hover {
    color: red;
  }
  body {
   background: #3636; 
  }
  h1 {
    font-size: 25px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 30px;
    color: green;
  }
  p {
    color: blue;
    font-style: italic;
    font-size: 30px;
  }
  .cards {
    display: flex;
  }
  .card {
    margin-right: 50px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-img {
    width: 150px;
    height: 130px;
  }
  .card-title {
    color: red;
    font-style: 21px;
    margin-bottom: 10px;
  }
  .card-info {
    text-align: center;
    color: black;
    margin-bottom: 10px;
  }
  .card-btn {
    margin-bottom: 50px;
    text-decoration: none;
    color: red;
    background: white;
    padding: 10px;
    border-radius: 40px;
  }
  .footer {
    height: 160px;
    background: #0909;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-menu {
    padding: 10px;
    list-style: none;
    background: #0909;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-menu li a {
    font-size: 20px;
    padding: 30px;
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }
  .foooter-menu li a:hover {
    background: #222;
  }
  .carousel-item img {
    border-radius: 0%;
    height: 700px;
    width: 100%;
  }
  .corousel-control-prev,
  .corousel-control-next {
    background: black
      !important;
    
  }
